<head>
    <link type="text/css" rel="stylesheet" href="/static/css/error404.css" />
    <title>Pagina no encontrada!</title>
</head>

<body>

	<div id="notfound">
		<div class="notfound">
			<div>
                <h1> <span>O</span> 
                    <span>o</span>
                    <span>p</span>
                    <span>s</span>
                    <span>!</span>
                    <span>!</span>
                </h1>
				<h2>404 - The Page can't be found</h2>
			</div>
			<a href="/home">Go TO Homepage</a>
		</div>
	</div>

</body>

</html>