<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
</head>
<body>
    <footer>
<div class="container-all-footer">
         <div class="container-body">
    <div class="colum1">
        
        <h1>Acerca de Nosotros</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsu.</p>
        <a href="/"><img src="/static/img/nombre1.png" width="290px" height="80px" alt=""></a>
    </div>
    <div class="colum3">
        <h1>Contactanos</h1>
        <div class="row2">
            <i class="card-icon far fa-envelope"></i>
            <p>email@domain.com</p>
        </div>
        <div class="row2">
            <i class="card-icon fas fa-mobile-alt"></i>
            <p>+00000000000000</p>
        </div>
        <div class="row2">
            <i class="card-icon fas fa-map-marker-alt"></i>
            <p>New York, USA</p>
        </div>
    </div>

    <div class="colum2">
        <h1>Siguenos</h1>
        <div class="row">
           <i class="social-icon fab fa-facebook"></i>
           <p>facebook</p>
        </div>

        <div class="row">
            <i class="social-icon fab fa-instagram"></i>
            <p>instagram</p>
        </div>
        
        <div class="row">
            <i class="social-icon fab fa-google-plus"></i>
            <p>google</p>
        </div>
        
    </div>

  

         </div>
</div>

 <div class="container-footer">
        <div class="footer">
    <div class="copyright">
        &copy; 2020 Todos los Derechos Reservados | <a href="">ManGO!</a>  
    </div> 
    <div class="information">
        <a href="">Nosotros</a> | <a href="">Politica de Privacidad</a> | <a href="">Terminos y Condiciones</a>
    </div>
    </div>
    </div>

    </footer>
</body>
</html>