<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ titulo }}</title>
    <meta charset="utf-8">
    <link rel="icon" href="/static/img/ManGOicono.ico">
    <link rel="stylesheet" type="text/css" href="/static/css/homeStyle.css">
    <link rel="stylesheet" type="text/css" href="/static/css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link rel="ico" href="/static/img/ManGOicono.ico">
</head>
<body>
  <nav>
      <h1 class="brand"><a href="/"><img src="/static/img/nombre1.png" width="265px" height="80px" alt=""></a></h1>
    <ul>
        <li ><a class="active" href="/home"  >Home</a></li>
        <li ><a href="/services">Servicios</a></li>
        <li ><a href="/about">Nosotros</a></li>
        <li ><a href="#">Contactanos</a></li>
        <li ><a href="/register">Inicia Sesion</a></li>
        <!-- <a href="#" class="brand-logo"><img class="animation" src="ManGO.png" width="100" height="80" alt=""></a> -->
    </ul>
    <div style="clear: both;"></div>
  </nav>
  <div class="responsive-bar">
      <h1> <a href="/"><img src="/static/img/nombre1.png" width="270px" height="80px" alt=""></a></h1>
  <div class="menu-responsive1">
  <input type="checkbox" class="toggler1">
  <div class="hamburger1">
      <div></div>
  </div>
</div>
<div style="clear: both;"></div>
</div>
<script
  src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <!-- <script src="/static/jquery.js"></script>  -->
<script>
    $(document).ready(function(){
        $(".menu-responsive1").click(function(){
            $("nav").slideToggle(500);
        })
    })
</script>

<script>
 $(window).on('hashchange',function(){
     let hash=window.location.hash;
     $('a').closest('li').removeClass('active');
     $('a[href="'+hash+'"]').closest('li').addClass('active');
 });

$(document).on('click', 'ul li', function(){
     $(this).addClass('active').siblings().removeClass('active')

  });
 </script>

{% block content %}



{% endblock %}




   <footer>
   <div class="container-all-footer">
     <div class="container-body">

<div class="colum1">
    
    <h1>Acerca de Nosotros</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsu.</p>
    <a href="/"><img src="/static/img/nombre1.png" width="265px" height="80px" alt=""></a>
</div>

<div class="colum3">
    <h1>Contactanos</h1>
    <div class="row2">
        <i class="card-icon far fa-envelope"></i>
        <p>email@domain.com</p>
    </div>
    <div class="row2">
        <i class="card-icon fas fa-mobile-alt"></i>
        <p>+00000000000000</p>
    </div>
    <div class="row2">
        <i class="card-icon fas fa-map-marker-alt"></i>
        <p>New York, USA</p>
    </div>
</div>

<div class="colum2">
    <h1>Siguenos</h1>
    <div class="row1">
       <a href="https://www.facebook.com/mango.website/"><i class="social-icon fab fa-facebook"></i></a>
       <p>Facebook</p>
    </div>

    <div class="row1">
        <a href="https://www.instagram.com/mango.website/"><i class="social-icon fab fa-instagram"></i></a>
        <p>Instagram</p>
    </div>
    
    <div class="row1">
        <a href=""><i class="social-icon fab fa-youtube"></i></a>
        <p>Youtube</p>
    </div>
    
</div>



     </div>
   </div>

   <div class="container-footer">
    <div class="footer">
<div class="copyright">
    &copy; 2020 Todos los Derechos Reservados | <a href="">ManGO!</a>  
</div> 
<div class="information">
    <a href="">Nosotros</a> | <a href="">Politica de Privacidad</a> | <a href="">Terminos y Condiciones</a>
</div>
</div>
   </div>

   </footer>



</body>
