{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" href="/static/css/servicesGO.css">
<section>
    <div class="slide" >
        <div class="content">
            <h2 class="btn1">Postula</h2>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, ad! Doloribus, labore enim. Quos, commodi aliquam sunt reiciendis qui perspiciatis quisquam asperiores animi numquam sit suscipit aut! Cumque, minus. Nesciunt?</p>
        </div>
    </div>
    <div class="slide" >
        <div class="content">
            <h2 class="btn2">Contrata</h2>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, ad! Doloribus, labore enim. Quos, commodi aliquam sunt reiciendis qui perspiciatis quisquam asperiores animi numquam sit suscipit aut! Cumque, minus. Nesciunt?</p>
        </div>
    </div>
    <div class="slide" >
        <div class="content">
            <h2 class="btn3">Empleas</h2>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, ad! Doloribus, labore enim. Quos, commodi aliquam sunt reiciendis qui perspiciatis quisquam asperiores animi numquam sit suscipit aut! Cumque, minus. Nesciunt?</p>
        </div>
    </div>
    <div class="slide" >
        <div class="content">
            <h2 class="btn4">Ecuentra</h2>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, ad! Doloribus, labore enim. Quos, commodi aliquam sunt reiciendis qui perspiciatis quisquam asperiores animi numquam sit suscipit aut! Cumque, minus. Nesciunt?</p>
        </div>
    </div>
    
    <div class="slide" >
        <div class="content">
            <h2 class="btn5">Diviertete</h2>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, ad! Doloribus, labore enim. Quos, commodi aliquam sunt reiciendis qui perspiciatis quisquam asperiores animi numquam sit suscipit aut! Cumque, minus. Nesciunt?</p>
        </div>
    </div>
</section>




<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere voluptate praesentium quisquam asperiores iusto eligendi doloribus molestiae ex vero necessitatibus obcaecati repellendus veniam sit sed magnam maiores excepturi voluptatibus dolorum dolores nesciunt laborum, minus ab ratione. Non recusandae ad deserunt nemo odio modi corporis. Accusamus, earum harum nostrum aut recusandae, nulla amet dolores molestiae tenetur sunt quo voluptatibus est asperiores magni doloribus commodi, doloremque ut enim saepe culpa! Blanditiis quisquam autem minima vel veritatis reprehenderit voluptatem dolorum deleniti voluptatum accusantium? A, eligendi in, omnis temporibus amet perspiciatis atque hic ratione cum maxime laudantium. Deserunt obcaecati cum veritatis labore molestiae magnam.</p>








{% endblock %}